# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!.gitattributes
!ReadMe_project.txt

#...neither those folders
!**/sim_1/**
!**/constrs_1/**
!**/sources_1/**
!python/

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!**/Power estimator/**
!*.bit
!*.vhd
!*.xpr
!*.xpe

